header,
main,
footer {
    padding-left: 300px;
}

main {
    width: 100%;
    height: 100vh;
}

html {
    height: 100%;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.avatar:hover {
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
    .nav-wrapper {
        display: flex;
    }
    .nav-wrapper form {
        width: 100%;
    }
    .text-tweet {
        font-size: 27px;
    }
}

.li-action a {
    margin-right: 10px;
    margin-top: 5px;
}

.li-action i {
    margin-left: 5px;
    color: #FF9671;
}

.li-action a {
    color: #FF9671;
}

.li-action {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.carousel {
    height: 100vh !important;
}

.cards-icons {
    display: flex;
}

.cards-icons i {
    padding-right: 5px;
}

.button_back:hover {
    cursor: pointer;
}

#app {
    display: flex;
    justify-content: center;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#my-card-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#card-user-info {
    display: flex;
    align-items: center;
}

#card-user-info>img {
    height: 48px;
    margin-right: 20px;
}

#modal-happen {
    display: flex;
    align-items: center;
    font-size: 13x;
    width: 80px;
}

#card-action-style {
    display: flex;
    justify-content: space-evenly;
}

#c-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#c-item-content {
    display: flex;
    margin-bottom: 15px;
    margin-top: 10px;
}

#card-panel-reg {
    max-width: 800px;
    width: 100%;
    min-width: 400px;
}

#card-panel-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}